:root {
  --main-color: #ea5959;
  --main-color-tone: #e84444;
  --second-color: #fff;
  --line-color: #d8d8d8;
  --text-color: #525252;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: var(--main-color);
  font-family: Lato;
}

#root {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.todo-app {
  display: flex;
  flex-flow: row nowrap;
  width: 983px;
  min-height: 702px;
  margin-top: 130px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.todo-app__sidebar,
.tag-list {
  padding-top: 140px;
  width: 209px;
  border-right: 1px solid var(--line-color);
}

.tag-list li {
  list-style-type: none;
}

.tag-list__item {
  margin-bottom: 24px;
  color: var(--text-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: text-decoration 0.5s;
}

.tag-list__item:hover {
  text-decoration: underline;
}

.tag-list__item_active {
  color: var(--main-color);
  font-weight: 700;
}

.todo-app > section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.todo-app__task-list {
  margin-left: 50px;
}

.todo-app__task-list > ul {
  padding-left: 0;
  max-width: 650px;
}

.task {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.task input[type='checkbox'] {
  transform: scale(2);
  margin-right: 16px;
}
.task .title,
.task .tag,
.panel .tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task .title {
  color: #5a5a5a;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.task .tag,
.panel .tag {
  text-align: center;
  margin-left: 20px;
  border: 1px solid transparent;
  background-color: var(--main-color);
  color: var(--second-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 115px;
  height: 24px;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.task .tag:hover,
.panel .tag:hover {
  background-color: var(--second-color);
  border-color: var(--main-color);
  color: var(--main-color);
}

.task .basket-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 80px;
}

.task .basket {
  background-image: url('/src/assets/basket.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.todo-app__header {
  margin: 30px;
  margin-left: 50px;
}

.todo-app__header .active-tag {
  color: #000;
  font-family: Lato;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.todo-app__header input {
  margin-top: 25px;
  border-radius: 8px;
  background: #f3f3f3;
  border: 0;
  height: 47px;
  width: 647px;
  color: #b5b5b5;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.panel-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
}

.todo-app__panel {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin: 30px 0;
}

.todo-app__panel .tag {
  background-color: #000;
}

.todo-app.markEven .even {
  background-color: var(--text-color);
}
.todo-app.markOdd .odd {
  background-color: var(--main-color);
}
